<div class="jumbotron">
    <h1>ASP.NET</h1>
    <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS, and JavaScript.</p>
    <p><a href="http://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            ASP.NET Web API is a framework that makes it easy to build HTTP services that reach
            a broad range of clients, including browsers and mobile devices. ASP.NET Web API
            is an ideal platform for building RESTful applications on the .NET Framework.
        </p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301870">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Get more libraries</h2>
        <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301871">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Web Hosting</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301872">Learn more &raquo;</a></p>
    </div>
</div>




<script>
    $(document).ready(function () {

        $.ajax({
            url: 'api/PartRest',
            cache: false,
            async: false,
            data: {},
            method: 'Options',
            dataType: 'JSON',
            success: function (data) {
                console.log('Options: api/PartRest');
                console.log(data);
            },
            error: function (request, status, error) {
                console.log('Options: api/PartRest');
                console.log(request);
                console.log(status);
                console.log(error);
            }

        });

        $.ajax({
            url: 'api/PartSOAP/GetPartFromDTO',
            cache: false,
            async: false,
            data: {},
            method: 'GET',
            dataType: 'JSON',
            success: function (data) {
                console.log('GET: api/Part/GetPartFromDTO');
                console.log(data);
            },
            error: function (request, status, error) {
                console.log('GET: api/Part/GetPartFromDTO');
                console.log(request);
                console.log(status);
                console.log(error);
            }

        });

        $.ajax({
            url: 'api/PartSOAP/GetPartFromEF',
            cache: false,
            async: false,
            data: {},
            method: 'GET',
            dataType: 'JSON',
            success: function (data) {
                console.log('GET: api/Part/GetPartFromEF');
                console.log(data);
            },
            error: function (request, status, error) {
                console.log('GET: api/Part/GetPartFromEF');
                console.log(request);
                console.log(status);
                console.log(error);
            }

        });

        $.ajax({
            url: 'api/PartRest',
            cache: false,
            async: false,
            data: {},
            method: 'GET',
            dataType: 'JSON',
            success: function (data) {
                console.log('GET: api/Part');
                console.log(data);
            },
            error: function (request, status, error) {
                console.log('GET: api/Part');
                console.log(request);
                console.log(status);
                console.log(error);
            }

        });
        $.ajax({
            url: 'api/PartRest/0d686151-7e36-4fed-bdc4-11df2c2d22e3',
            cache: false,
            async: false,
            data: {},
            method: 'GET',
            dataType: 'JSON',
            success: function (data) {
                console.log('GET: api/Part/0d686151-7e36-4fed-bdc4-11df2c2d22e3');
                console.log(data);
            },
            error: function (request, status, error) {
                console.log('GET: api/Part/0d686151-7e36-4fed-bdc4-11df2c2d22e3');
                console.log(request);
                console.log(status);
                console.log(error);
            }

        });

        $.ajax({
            url: 'api/PartRest?id=0d686151-7e36-4fed-bdc4-11df2c2d22e4',
            cache: false,
            async: false,
            data: {
                ID: '0d686151-7e36-4fed-bdc4-11df2c2d22e4',
                IsActive: true,
                Name: 'TestField2'
            },
            method: 'PUT',
            dataType: 'JSON',
            success: function (data) {
                console.log('PUT: api/Part?id=0d686151-7e36-4fed-bdc4-11df2c2d22e4');
                console.log(data);
            },
            error: function (request, status, error) {
                console.log('PUT: api/Part?id=0d686151-7e36-4fed-bdc4-11df2c2d22e4');
                console.log(request);
                console.log(status);
                console.log(error);
            }

        });

        $.ajax({
            url: 'api/PartRest?id=0d686151-7e36-4fed-bdc4-11df2c2d22e4',
            cache: false,
            async: false,
            data: {},
            method: 'GET',
            dataType: 'JSON',
            success: function (data) {
                console.log('GET: api/Part?id=0d686151-7e36-4fed-bdc4-11df2c2d22e4');
                console.log(data);
            },
            error: function (request, status, error) {
                console.log('GET: api/Part?id=0d686151-7e36-4fed-bdc4-11df2c2d22e4');
                console.log(request);
                console.log(status);
                console.log(error);
            }

        });


        $.ajax({
            url: 'api/PartRest?id=0d686151-7e36-4fed-bdc4-11df2c2d22e4',
            cache: false,
            async: false,
            data: {},
            method: 'DELETE',
            dataType: 'JSON',
            success: function (data) {
                console.log('DELETE: api/Part?id=0d686151-7e36-4fed-bdc4-11df2c2d22e4');
                console.log(data);
            },
            error: function (request, status, error) {
                console.log('DELETE: api/Part?id=0d686151-7e36-4fed-bdc4-11df2c2d22e4');
                console.log(request);
                console.log(status);
                console.log(error);
            }

        });

        $.ajax({
            url: 'api/PartRest?id=0d686151-7e36-4fed-bdc4-11df2c2d22e4',
            cache: false,
            async: false,
            data: {
                ID: '0d686151-7e36-4fed-bdc4-11df2c2d22e4',
                IsActive: true,
                Name: 'TestField'
            },
            method: 'POST',
            dataType: 'JSON',
            success: function (data) {
                console.log('POST: api/Part?id=0d686151-7e36-4fed-bdc4-11df2c2d22e4');
                console.log(data);
            },
            error: function (request, status, error) {
                console.log('POST: api/Part?id=0d686151-7e36-4fed-bdc4-11df2c2d22e4');
                console.log(request);
                console.log(status);
                console.log(error);
            }

        });


    });
</script>
